@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "nunito sans";

  --color-white-light: white;
  --color-white-darker: rgb(238, 235, 235);
  --color-gray-light: rgb(77, 77, 77);
  --color-gray-darker: rgb(46, 45, 45);
}

//dark mode icons

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

body {
  background-color: var(--color-white-darker);
  font-family: var(--main-font);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  background-color: var(--color-white-light);

  &__slogan {
    font-size: 1.5rem;
    font-weight: 800;
  }
}

.dark-mode {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 5px;
}

main {
  padding: 1rem 2.5rem;
}

.filtering-section {
  display: flex;
  justify-content: space-between;

  .search-field {
    display: inline-flex;
    align-items: center;
    background-color: white;
    padding: 0.7rem 1.3rem;
    font-size: 0.8rem;

    svg {
      margin: 0 1rem;
      color: gray;
    }

    input {
      border: none;
      color: gray;
      font-size: 0.8rem;
      width: 350px;
    }
  }

  .filter-field {
    position: relative;

    &__btn {
      padding: 0.7rem 1.3rem;
      background-color: white;
      border: none;
      border-radius: 3px;
    }

    &__dropdown {
      position: absolute;
      width: 100%;
      background-color: white;
      top: calc(100% + 5px);
      border-radius: 3px;
      cursor: pointer;
    }

    &__option {
      padding: 0.4rem 1.3rem;
      font-size: 0.8rem;
    }

    &__option:hover {
      background-color: var(--color-white-darker);
    }
  }
}
