@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "nunito sans";

  --color-white-light: white;
  --color-white-darker: rgb(238, 235, 235);
  --color-gray-light: rgb(77, 77, 77);
  --color-gray-darker: rgb(46, 45, 45);
}

//dark mode icons

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

body {
  background-color: var(--color-white-darker);
  font-family: var(--main-font);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  background-color: var(--color-white-light);

  &__slogan {
    font-size: 1.5rem;
    font-weight: 800;
  }
}

.dark-mode {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 5px;
}

main {
  padding: 2rem 3.5rem;
}

.filtering-section {
  display: flex;
  justify-content: space-between;

  & > * {
    border-radius: 5px;
    background-color: white;
    padding: 0.7rem 1.3rem;
  }
  .search-form {
    display: inline-flex;
    align-items: center;
    font-size: 0.8rem;

    svg {
      margin: 0 1rem;
      color: gray;
      cursor: pointer;
    }

    input {
      border: none;
      color: gray;
      font-size: 0.8rem;
      width: 350px;
      outline: none;
    }
  }

  .filter-form {
    position: relative;

    &__dropdown {
      position: absolute;
      background-color: white;
      left: 0;
      border-radius: 5px;
      width: 100%;
      top: calc(100% + 5px);
      cursor: pointer;
      transition: opacity 0.3s ease-in-out, transform 0.4s ease-in-out;
      transform: translateY(-10px);
      opacity: 0;
      pointer-events: none;
    }

    &__btn {
      background-color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;

      .arrow {
        transform: rotate(90deg);
        display: inline-block;
        font-weight: 900;
      }
    }

    &__option {
      padding: 0.4rem 1.3rem;
      font-size: 0.8rem;
    }

    &__option:hover {
      background-color: var(--color-white-darker);
    }
  }

  .active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

.countries-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5rem;
  justify-content: space-between;
  margin-top: 2rem;
}

.country {
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--color-white-light);
  width: 250px;

  img {
    width: 100%;
    aspect-ratio: 9/6;
    box-shadow: 2px 0 5px 2px rgba(128, 128, 128, 0.438);
  }

  &__info {
    padding: 1rem;

    &-name {
      font-weight: 900;
      font-size: 1.1rem;
      margin: 0.5rem 0;
    }

    .attr {
      font-weight: 600;
    }
  }
}

.single-country {
  .country {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;

    .flag {
      width: 550px;
    }

    .country-info {
      display: flex;
      flex-direction: column;
      font-weight: 900;
    }

    .country-details {
      display: flex;
      justify-content: space-between;
      gap: 10rem;
      font-weight: 600;
      margin: 1rem 0;

      span {
        font-weight: 400;
      }
    }

    .borders span {
      background-color: white;
      margin: 10px;
      border-radius: 2px;
      display: inline-block;
      padding: 0 10px;
      min-width: 90px;
      text-align: center;
      outline: 1px solid rgba(128, 128, 128, 0.151);
    }
  }
}

.hide {
  display: none;
}
